body{
    font-family: sans-serif;
    background: linear-gradient(135deg, blue, violet);
    color: black;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;           
    background-attachment: fixed;    
}

h1{
    font-size: 10vh;
    
}

#task_list, #weather_page{

    background-color: white;
    padding: 2%;
    text-align: center;
    border-radius: 2vh;
    height: fit-content;
    width: auto;
    margin: 3%;
    margin-bottom: 100px;
}

#task_div{
    font-family: sans-serif;
    font-weight: bold;
    font-size: large;
    background: linear-gradient(135deg, blue, orange);
    padding: 2%;
    width:fit-content;
    border-radius: 5%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#side_note{
    display: none;
    background-color:rgb(120, 82, 226);
    border-radius: 5vh;
    padding: 4px;
}

#task_number{
    font-weight: lighter;
}

.input{
    border: none;
    padding: 1vh;
    font-family: sans-serif;
    font-weight:400;
    border-radius: 5vh;
}

.submit, #reset, #select1, #reset2, #sidenote_button{
    border-radius: 5vh;
    padding: 1vh;
    font-family: sans-serif;
    border: none;
    background-color: white;
    margin-top: 5px;
    
}

.submit:hover, #reset:hover, #select1:hover, #reset2:hover, #sidenote_button:hover, #city:hover{
    background-color: violet;
}